<div th:fragment="footer">
    <footer class="bg-customGray text-white py-16">
        <div class="text-center">
            <h2 class="text-2xl font-bold text-customPink mb-2">ShowTime</h2>
            <p class="mb-1">&copy; 2024 ShowTime - All Rights Reserved</p>
            <p>
                Contact us: 
                <a href="mailto:support@showtime.com" class="text-customPink hover:underline">
                    support@showtime.com
                </a>
            </p>
        </div>
    </footer>
</div>
