<div th:fragment="header">
    <header>
        <nav>
            <ul>
                <li><a th:href="@{/}">Home</a></li> <!--A remplacer par logo-->
                <li><a th:href="@{/discover}">Discover</a></li>
                <li><a th:href="@{/movies}">Movies</a></li>
                <li><a th:href="@{/tvshows}">TV Shows</a></li>
                <li><a th:href="@{/profile}">Profile</a></li>

                
                <li><a th:href="@{/logout}">Logout</a></li>
                <li><a th:href="@{/login}">Login</a></li>
                
            </ul>
        </nav>
    </header>
</div>
