<div th:fragment="header">
    <header class="bg-customGray text-white py-8">
        <div class="container mx-auto flex items-center justify-between">
            <!-- Logo -->
            <div class="flex items-center space-x-2">
                <a th:href="@{/}">
                    <img src="/assets/icon.png" alt="ShowTime Logo" class="h-10">
                </a>
            </div>

            <!-- Navigation Menu -->
            <nav>
                <ul class="flex space-x-6">
                    <li><a th:href="@{/discover}" class="transition-colors duration-300 ease-in-out hover:text-customPink">Discover</a></li>
                    <li><a th:href="@{/movies}" class="transition-colors duration-300 ease-in-out hover:text-customPink">Movies</a></li>
                    <li><a th:href="@{/tvshows}" class="transition-colors duration-300 ease-in-out hover:text-customPink">TV Shows</a></li>
                </ul>
            </nav>

            <!-- Account Button -->
            <div>
                <a th:href="@{/profile}" class="bg-customPink text-gray-800 px-4 py-2.5 rounded-full font-semibold">
                    Account
                    <span aria-hidden="true" class="text-xl">&rarr;</span>
                </a>             
            </div>
        </div>
    </header>
</div>
