<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <div class="container">
        <h1>Profile of <span th:text="${user.username}">User Name</span></h1>
        
        <div class="profile-info">
            <p><strong>Name:</strong> <span th:text="${user.username}">John Doe</span></p>
            <p><strong>Email:</strong> <span th:text="${user.email}">john.doe@example.com</span></p>
        </div>

     
        <div th:each="list : ${user.mediaLists}">
            <h3 th:text="${list.name}"></h3> 
            <ul>
                <li th:each="media : ${list.mediaList}">
                    <a th:href="@{/media/{id}(id=${media.id})}"><p th:text="${media.title}"></p></a>
                </li>
            </ul>
        </div>

        <h3>Ratings</h3>
        <ul>
            <li th:each="rating : ${ratings}">
                <p><strong>Media:</strong> <a th:href="@{/media/{id}(id=${rating.media.id})}" th:text="${rating.media.title}">Media Title</a></p>
                <p><strong>Rating:</strong> <span th:text="${rating.rating}"></span>/5</p>
                <p><strong>Comment:</strong> <span th:text="${rating.comment}"></span></p>
                <p><small>Posted on: <span th:text="${rating.date}"></span></small></p>
            </li>
        </ul>

    </div>

</body>
</html>
