<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script>
        let isEditing = false;

        function toggleEditMode() {
            const emailInput = document.getElementById('email');
            const passwordInput = document.getElementById('password');
            const editButton = document.getElementById('editButton');
            const updateForm = document.getElementById('updateForm');

            if (!isEditing) {
                //emailInput.disabled = false;
                //passwordInput.disabled = false;
                editButton.textContent = 'Save';
                isEditing = true;
            } else {
                //emailInput.disabled = true;
                //passwordInput.disabled = true;
                editButton.textContent = 'Edit';
                isEditing = false;
                updateForm.submit();
            }
        }
    </script>

</head>
<body>

    <div class="container">
        <h1>Profile of <span th:text="${user.username}">User Name</span></h1>
        
        <form id="updateForm" th:action="@{/profile/update}" method="post">
            <div class="profile-info">
                <p><strong>Name:</strong> <span th:text="${user.username}"></span></p>
                <p>
                    <strong>Email:</strong>
                    <input id="email" type="email" name="email" th:value="${user.email}" />
                </p>
                <p th:if="${error}" th:text="${error}" style="color:red;"></p>
                <p>
                    <strong>Password:</strong>
                    <input id="password" type="password" name="password" th:value="${user.password}" />
                </p>
            </div>

            <button type="button" id="editButton" onclick="toggleEditMode()">Edit</button>
        </form>

     
        <div th:each="list : ${user.mediaLists}">
            <h3 th:text="${list.name}"></h3> 
            <ul>
                <li th:each="media : ${list.mediaList}">
                    <a th:href="@{/media/{id}(id=${media.id})}"><p th:text="${media.title}"></p></a>
                </li>
            </ul>
        </div>

        <h3>Ratings</h3>
        <ul>
            <li th:each="rating : ${ratings}">
                <p><strong>Media:</strong> <a th:href="@{/media/{id}(id=${rating.media.id})}" th:text="${rating.media.title}">Media Title</a></p>
                <p><strong>Rating:</strong> <span th:text="${rating.rating}"></span>/5</p>
                <p><strong>Comment:</strong> <span th:text="${rating.comment}"></span></p>
                <p><small>Posted on: <span th:text="${rating.date}"></span></small></p>
            </li>
        </ul>

    </div>

</body>
</html>
