<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ShowTime - Discover</title>
    <link th:href="@{/main.css}" rel="stylesheet" />
    <link rel="icon" href="/assets/favicon.png" type="image/x-icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body class="bg-customGray">
    <!-- Insertion du Header -->
    <div th:replace="~{Components/Header :: header}"></div>

    <section class="intro py-6 my-20 bg-customGray text-center">
        <h1 class="text-4xl font-bold text-customPink mb-4">Discover Your Next Favorite</h1>
        <p class="text-gray-400 text-lg max-w-2xl mx-auto">
            Explore featured, recommended, and new releases tailored just for you. <br>Find something to watch today!
        </p>
    </section>

    <section class="search-bar py-6 bg-customGray">
        <div class="max-w-xl mx-auto bg-customLightGray relative">
            <form action="/search/results" method="get" class="relative">
                <input id="searchInput" type="text" name="q" placeholder="Search for movies, series, or actors..."
                    class="w-full p-4 rounded border text-white bg-customLightGray border-customPink focus:outline-none focus:ring-2 focus:ring-customPink pr-16" />
                <button type="submit" class="absolute right-4 top-1/2 transform -translate-y-1/2 text-customPink">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <div id="autocompleteResults" class="absolute w-full bg-customLightGray text-white mt-2 rounded hidden shadow-lg z-10 max-h-60 overflow-y-auto no-scrollbar"></div>
        </div>        
        <script>
            const searchInput = document.getElementById('searchInput');
            const autocompleteResults = document.getElementById('autocompleteResults');
        
            searchInput.addEventListener('input', async () => {
                const query = searchInput.value.trim();
                if (query.length < 2) {
                    autocompleteResults.innerHTML = '';
                    autocompleteResults.classList.add('hidden');
                    return;
                }
        
                try {
                    const response = await fetch(`/search?q=${encodeURIComponent(query)}`);
                    if (!response.ok) throw new Error('Failed to fetch results');
                    const results = await response.json();
        
                    // Construire le HTML des résultats avec images
                    if (results.length === 0) {
                        autocompleteResults.innerHTML = `<div class="p-2 text-gray-400">No results found</div>`;
                    } else {
                        autocompleteResults.innerHTML = results.map(result => {
                            const url = (result.type === 'movie' || result.type === 'tvshow') 
                                ? `/media/${result.id}` 
                                : `/${result.type}/${result.id}`;
                            
                            const imageUrl = result.posterURL || '/assets/default-poster.png'; // Default image if none exists
                            return `
                                <div class="p-2 group flex items-center gap-4 hover:bg-customPink hover:text-customGray cursor-pointer" onclick="window.location.href='${url}'">
                                    <img src="${imageUrl}" alt="${result.type === 'actor' ? result.name : result.title}" 
                                        class="w-10 h-10 rounded object-cover">
                                    <div>
                                        <div class="font-semibold">
                                            ${result.type === 'actor' ? result.name : result.title}
                                        </div>
                                        <div class="text-sm text-gray-400 group-hover:text-customGray">${result.type.charAt(0).toUpperCase() + result.type.slice(1)}</div>
                                    </div>
                                </div>
                            `;
                        }).join('');
                    }
                    autocompleteResults.classList.remove('hidden');
                } catch (error) {
                    console.error('Error fetching autocomplete results:', error);
                }
            });
        
            searchInput.addEventListener('blur', () => {
                setTimeout(() => {
                    autocompleteResults.classList.add('hidden');
                }, 200); 
            });
        </script>        
    </section>
    
    


    <div class="w-4/5 mx-auto">
    <section class="featured py-12">
        <h2 class="text-3xl font-bold text-center text-customPink mb-8">Featured Media</h2>
        <div class="overflow-x-auto scroll-smooth no-scrollbar scrollable-div">
            <ul id="featured-media" class="flex py-2.5">
                <li th:each="media : ${featured.mediaList}" class="min-w-40 mx-4">
                    <a th:href="@{/media/{id}(id=${media.id})}">
                        <img th:src="@{${media.posterURL}}" alt="Poster of ${media.title}" 
                            class="w-40 h-60 object-cover rounded-lg transition-transform duration-300 ease-in-out hover:scale-105" loading="lazy" />
                    </a>
                </li>
            </ul>
        </div>
    </section>
    
    <section class="recommended py-12">
        <h2 class="text-3xl font-bold text-center text-customPink mb-8">Our Recommendations</h2>
        <div class="overflow-x-auto scroll-smooth no-scrollbar scrollable-div">
            <ul id="recommended-media" class="flex py-2.5">
                <li th:each="media : ${recommended.mediaList}" class="min-w-40 mx-4">
                    <a th:href="@{/media/{id}(id=${media.id})}">
                        <img th:src="@{${media.posterURL}}" alt="Poster of ${media.title}" 
                            class="w-40 h-60 object-cover rounded-lg transition-transform duration-300 ease-in-out hover:scale-105" loading="lazy" />
                    </a>
                </li>
            </ul>
        </div>
    </section>
    
    <section class="new-releases py-12">
        <h2 class="text-3xl font-bold text-center text-customPink mb-8">New Releases</h2>
        <div class="overflow-x-auto scroll-smooth no-scrollbar scrollable-div">
            <ul id="new-releases-media" class="flex py-2.5">
                <li th:each="media : ${newReleases.mediaList}" class="min-w-40 mx-4">
                    <a th:href="@{/media/{id}(id=${media.id})}">
                        <img th:src="@{${media.posterURL}}" alt="Poster of ${media.title}" 
                            class="w-40 h-60 object-cover rounded-lg transition-transform duration-300 ease-in-out hover:scale-105" loading="lazy" />
                    </a>
                </li>
            </ul>
        </div>
    </section>    

    <section class="surprise-me py-12 bg-customGray text-center">
        <h2 class="text-3xl font-bold text-customPink mb-4">Feeling Adventurous?</h2>
        <p class="text-gray-300 text-lg mb-6">
            Not sure what to watch? Let us pick something random for you!
        </p>
        <button onclick="window.location.href='/surprise-me'" 
                class="bg-customPink px-6 py-3 rounded text-white hover:scale-105 transition-transform">
            Surprise Me!
        </button>
    </section>
    </div>
    
    <section class="categories py-12 bg-customGray">
        <h2 class="text-3xl font-bold text-center text-customPink mb-8">Browse by Categories</h2>
        <div class="grid grid-cols-2 sm:grid-cols-4 gap-6 max-w-6xl mx-auto">
            <a href="/category/Action" 
               class="bg-customLightGray p-6 rounded shadow text-center text-white hover:bg-customPink transition-colors">
                Action
            </a>
            <a href="/category/Animation" 
               class="bg-customLightGray p-6 rounded shadow text-center text-white hover:bg-customPink transition-colors">
                Animation
            </a>
            <a href="/category/Comedy" 
               class="bg-customLightGray p-6 rounded shadow text-center text-white hover:bg-customPink transition-colors">
                Comedy
            </a>
            <a href="/category/Crime" 
               class="bg-customLightGray p-6 rounded shadow text-center text-white hover:bg-customPink transition-colors">
                Crime
            </a>
            <a href="/category/Horror" 
               class="bg-customLightGray p-6 rounded shadow text-center text-white hover:bg-customPink transition-colors">
                Horror
            </a>
            <a href="/category/Romance" 
               class="bg-customLightGray p-6 rounded shadow text-center text-white hover:bg-customPink transition-colors">
                Romance
            </a>
            <a href="/category/Sci-Fi-Fantasy" 
               class="bg-customLightGray p-6 rounded shadow text-center text-white hover:bg-customPink transition-colors">
                Sci-Fi & Fantasy
            </a>
            <a href="/category/Thriller" 
               class="bg-customLightGray p-6 rounded shadow text-center text-white hover:bg-customPink transition-colors">
                Thriller
            </a>
        </div>
    </section>
    
    

    <!-- Insertion du Footer -->
    <div th:replace="~{Components/Footer :: footer}"></div>
</body>
</html>
