<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ShowTime</title>
    <link th:href="@{/main.css}" rel="stylesheet" />
    <link rel="icon" href="/assets/favicon.png" type="image/x-icon">
</head>
<body class="bg-customGray text-customPink">
    <!-- Header -->
    <div th:replace="~{Components/Header :: header}"></div>

    <div class="container mx-auto p-8 text-center my-24">
        <h1 class="text-white text-5xl font-bold">
            <span class="text-customPink">Discover</span> the latest <span class="italic">Movies</span>,<br>
            <span class="text-customPink">Watch</span> your favorite <span class="italic">TV Shows</span>,<br>
            <span class="text-customPink">Remember</span> the moments that matter.
        </h1>

        <p class="text-zinc-600 text-lg mt-16">
            Explore new genres, find popular content, and build your personal watchlists.
        </p>        
    </div>

    <!-- Footer -->
    <div th:replace="~{Components/Footer :: footer}"></div>
</body>
</html>
