<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ShowTime - Movies</title>
    <link th:href="@{/main.css}" rel="stylesheet" />
</head>
<body>
    <!-- Insertion du Header -->
    <div th:replace="~{Components/Header :: header}"></div>

    <div class="bg-gray-800 w-full">          
        <h1>Popular Movies</h1>
        <ul class="flex flex-row scroll-smooth overflow-x-auto">
            <li th:each="movie : ${popularMovies}" class="min-w-40 m-4">
                <a th:href="@{/media/{id}(id=${movie.id})}"><img th:src="@{${movie.posterURL}}" alt="Poster of ${movie.title}" loading="lazy" width="400" height="400" /></a>
            </li>
        </ul>
    
        <h1>Top Rated Movies</h1>
        <ul class="flex flex-row scroll-smooth overflow-x-auto">
            <li th:each="movie : ${topRatedMovies}" class="min-w-40 m-4">
                <a th:href="@{/media/{id}(id=${movie.id})}"><img th:src="@{${movie.posterURL}}" alt="Poster of ${movie.title}" loading="lazy" width="400" height="400" /></a>
            </li>
        </ul>
    
        <h1>Trending Movies</h1>
        <ul class="flex flex-row scroll-smooth overflow-x-auto">
            <li th:each="movie : ${trendingMovies}" class="min-w-40 m-4">
                <a th:href="@{/media/{id}(id=${movie.id})}"><img th:src="@{${movie.posterURL}}" alt="Poster of ${movie.title}"loading="lazy" width="400" height="400" /></a>
            </li>
        </ul>

        <h1>All Movies</h1>
        <ul class="flex flex-wrap ">
            <li th:each="movie : ${allMovies}" class="w-40 m-4">
                <p th:text="${movie.title}">Movie Title</p>
                <!-- Displaying the image using the external URL from the posterURL field -->
                <a th:href="@{/media/{id}(id=${movie.id})}">
                    <img th:src="@{${movie.posterURL}}" alt="Poster of ${movie.title}" loading="lazy" width="400" height="400" />
                </a>
            </li>
        </ul>  
    </div>


    <!-- Insertion du Footer -->
    <div th:replace="~{Components/Footer :: footer}"></div>
</body>
</html>
