<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ShowTime - TV Shows</title>
    <link th:href="@{/main.css}" rel="stylesheet" />
    <link rel="icon" href="/assets/favicon.png" type="image/x-icon">
</head>
<body class="bg-customGray text-white">
    <!-- Insertion du Header -->
    <div th:replace="~{Components/Header :: header}"></div>

    <div class="w-4/5 mx-auto">
        <!-- Texte pour introduire la section TV Shows -->
        <div class="text-center py-6 my-20">
            <h1 class="text-4xl font-bold text-customPink mb-4">Welcome to TV Shows</h1>
            <p class="text-lg text-gray-400">Browse our exclusive collections and select your next binge-worthy series!</p>
        </div>

        <!-- Popular TV Shows -->
        <div class="bg-customGray py-10">
            <h2 class="text-3xl text-center text-customPink mb-4">Popular TV Shows</h2>
            <div class="overflow-x-auto scroll-smooth no-scrollbar">
                <ul id="popularTVShows" class="flex py-2.5">
                    <li th:each="tvshow : ${popularTVShows}" class="min-w-40 mx-4">
                        <a th:href="@{/media/{id}(id=${tvshow.id})}">
                            <img th:src="@{${tvshow.posterURL}}" alt="Poster of ${tvshow.title}" class="rounded-lg" loading="lazy" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Top Rated TV Shows -->
        <div class="bg-customGray py-10">
            <h2 class="text-3xl text-center text-customPink mb-4">Top Rated TV Shows</h2>
            <div class="overflow-x-auto scroll-smooth no-scrollbar">
                <ul id="topRatedTVShows" class="flex py-2.5">
                    <li th:each="tvshow : ${topRatedTVShows}" class="min-w-40 mx-4">
                        <a th:href="@{/media/{id}(id=${tvshow.id})}">
                            <img th:src="@{${tvshow.posterURL}}" alt="Poster of ${tvshow.title}" class="rounded-lg" loading="lazy" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Trending TV Shows -->
        <div class="bg-customGray py-10">
            <h2 class="text-3xl text-center text-customPink mb-4">Trending TV Shows</h2>
            <div class="overflow-x-auto scroll-smooth no-scrollbar">
                <ul id="trendingTVShows" class="flex py-2.5">
                    <li th:each="tvshow : ${trendingTVShows}" class="min-w-40 mx-4">
                        <a th:href="@{/media/{id}(id=${tvshow.id})}">
                            <img th:src="@{${tvshow.posterURL}}" alt="Poster of ${tvshow.title}" class="rounded-lg" loading="lazy" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- All TV Shows -->
        <div class="bg-customGray py-10">
            <h2 class="text-3xl text-center text-customPink mb-4">All TV Shows</h2>
            <ul class="grid grid-cols-2 md:grid-cols-4 gap-6 px-6">
                <li th:each="tvshow : ${allTVShows}">
                    <a th:href="@{/media/{id}(id=${tvshow.id})}" 
                    th:text="${tvshow.title}" 
                    class="movie-title text-center block text-white mb-2 transition-colors duration-300 ease-in-out hover:!text-customPink">
                        TV Show Title
                    </a>
                    <a th:href="@{/media/{id}(id=${tvshow.id})}">
                        <img th:src="@{${tvshow.posterURL}}" alt="Poster of ${tvshow.title}" class="rounded-lg" loading="lazy" />
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Insertion du Footer -->
    <div th:replace="~{Components/Footer :: footer}"></div>
</body>
</html>
