<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${actor.name} + ' - ShowTime'">Actor Details - ShowTime</title>
    <link th:href="@{/main.css}" rel="stylesheet" />
    <link rel="icon" href="/assets/favicon.png" type="image/x-icon">
</head>
<body class="bg-customGray font-sans text-white">
    <!-- Header -->
    <div th:replace="~{Components/Header :: header}"></div>

    <div class="flex flex-col items-center">
        <div class="w-full max-w-6xl mt-8 px-4 py-8 rounded-xl">

            <!-- Title -->
            <h1 class="text-3xl font-bold mb-4 text-center text-customPink" th:text="${actor.name}"></h1>

            <!-- Actor Image -->
            <div class="flex justify-center mb-6">
                <img th:src="@{${actor.posterURL}}" alt="Poster of ${actor.name}" class="max-w-xs rounded-lg shadow-xl" />
            </div>

            <!-- Actor Infos -->
            <div class="mb-8">
                <p><strong class="text-customPink">Full Name :</strong> <span th:text="${actor.name}"></span></p>
                <p>
                    <strong class="text-customPink">Birthdate:</strong>
                    <span id="actorBirthDate" th:text="${actor.birthDate}"></span>
                </p>
                <script>
                    const birthDateElement = document.getElementById("actorBirthDate");
                    if (birthDateElement) {
                        const rawDate = new Date(birthDateElement.textContent);
                        const options = { month: 'long', day: 'numeric', year: 'numeric' };
                        birthDateElement.textContent = rawDate.toLocaleDateString('en-US', options);
                    }
                </script>                
            </div>

            <!-- Actor's Medias -->
            <h2 class="text-xl font-semibold mb-4 text-customPink">Appears in these Medias:</h2>
            <div class="overflow-x-auto mb-8 scrollable-div no-scrollbar">
                <ul class="flex gap-6 p-2">
                    <li th:each="media : ${actor.mediasCastedIn}" class="flex flex-col items-center w-40 group min-w-40">
                        <a th:href="@{/media/{id}(id=${media.id})}" class="text-center text-sm font-medium text-white transition-colors duration-300 ease-in-out hover:!text-customPink">
                            <img th:src="@{${media.posterURL}}" 
                                alt="Poster of ${media.title}" 
                                class="w-40 h-60 object-cover rounded-lg shadow-md mb-2 transition-transform duration-300 ease-in-out group-hover:scale-105" /> 
                            <div th:href="@{/media/{id}(id=${media.id})}" 
                                th:text="${media.title}" 
                                class="transition-transform duration-300 ease-in-out group-hover:translate-y-1">
                                Media Title
                            </div>
                        </a>
                    </li>
                </ul>
            </div>


        </div>
    </div>

    <!-- Footer -->
    <div th:replace="~{Components/Footer :: footer}"></div>
</body>
</html>
